#header {
    background-color: aqua;
}

body {
    background-color: #ffb6c1;
}

#header_main {
    display: flex;
}

#header_title {
    float: left;
}

#header_main_title {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
#header_ip {
    float: right;
    text-align: right;
    margin-left: auto;
}



#editor_main {
    background-color: whitesmoke;
    display: flex;
    margin: 0;
    padding: 0;
}

#editor_nav {
    background-color: #c1e1f9;
    float: left;
    min-width: 10%;
    resize: horizontal;
    padding: 0;
    overflow: hidden;
    border: 4px solid #C0C0C0;
    position: relative;
}

#editor_code_doc {
    border: 4px solid #C0C0C0;
    height: calc(100vh - 110px);
    overflow: auto;
    font-size: 12pt;

}

.cm-gutter {
    background-color: #C8A2C8;
}

#editor_code {
    float: right;
    resize: horizontal;
    max-width: 90%;
    min-width: 40%;
    width: 90%;
    background-color: #e2dfdf;
}

#editor_code_butons {
    background-color: #f5d5a0;
    display: flex;
    height: 30px;
    border: 4px solid #C0C0C0;
}
#editor_code_butons_tab {
    display: flex;
    float:left;
}

#new_tab {
    float: left;
}

#editor_code_doc {
    display: block;
}

#save_tab {
    margin-left: auto;
}

#run_tab {
    float: right;
}

.editor_tab {
    float: left;
    border-style: groove;
    /*border-radius: 20%;*/
    background-color: #E6BE8A;

}

.editor_tab.unsaved_tab {
    text-decoration: underline;

    font-style: italic;
    font-weight: bold;
}

.editor_tab_selected{
    background-color: #FFBF00;

}



/* Set editor Height */

#editor_nav_files {
    text-align: center;
    padding: 2px;
    margin: 0px;
}

/* Tree */
ul, #editor_nav_tree {
    list-style-type: none;
    padding-left: 10px;
}

#editor_nav_tree {
    margin: 0;
    padding: 0;
    padding-left: 0;
}

.caret {
    background-color: #d9a2ce;
    cursor: pointer;
    user-select: none;
    display: block;
    width: 100%;
    border: 2px solid #826a80;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

.nav_file{
    user-select: none;
    border: 2px solid #7d8c93;
}
.nav_file:nth-child(even){
    background-color: #b7d9c9;
}

.nav_file:nth-child(odd){
    background-color: #dbc8d9;
}

.nav_selected{
    background-color: beige;
    font-weight: bold;
}

/* RUN */

#run_main {
    background-color: #E6BE8A;
    display: flex;
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
}

#run_console {
  background-color: red;
  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
}

/* Input Square */

.input_square {
    background-color: crimson;
    border-style: double;
}