#header {
    background-color: aqua;
}

#editor_main {
    background-color: blue;
    display: flex;
    margin: 0;
    padding: 0;
}

#editor_nav {
    background-color: brown;
    float: left;
    width: 10%;
}

#editor_code {
    background-color: rgb(230, 252, 253);
    float: right;
    width: 90%;
}

#editor_code_butons {
    display: flex;
    height: 30px;
    border-style: ridge;
}
#editor_code_butons_tab {
    display: flex;
    float:left;
}

#new_tab {
    float: left;
}

#editor_code_doc {
    display: block;
}

#save_tab {
    margin-left: auto;
}

#run_tab {
    float: right;
}

.editor_tab {
    float: left;
    border-style: groove;
    border-radius: 20%;
    background-color: rgb(155, 178, 221);
}

.editor_tab.unsaved_tab {
    background-color: rgb(177, 129, 224);
}

.editor_tab_selected{
    text-decoration: underline;
    color: rgb(122, 18, 18);
}



/* Set editor Height */

/* Tree */
ul, #editor_nav_tree {
    list-style-type: none;
    padding-left: 15px;
}

#editor_nav_tree {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

.nav_file{
    user-select: none;
}
.nav_file:nth-child(even){
    background-color: chocolate;
}

.nav_file:nth-child(odd){
    background-color: darkgoldenrod;
}

.nav_selected{
    background-color: beige;
    font-weight: bold;
}

/* RUN */

#run_main {
    background-color: blue;
    display: flex;
    margin: 0;
    padding: 0;
}

#run_console {
  background-color: red;
  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
}

/* Input Square */

.input_square {
    background-color: crimson;
    border-style: double;
}